.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  
  .text-xs {
      font-size: 50%;
  }
  
  .text-sm {
      font-size: 75%;
  }
  
  .text-md {
      font-size: 125%;
  }
  
  .text-lg {
      font-size: 150%;
  }
  
  .indent {
      text-indent: 2em;
  }
  
  .sideBySide > li {
      width: 33%;
      display: inline-block;	
  }
  
  li {
      list-style-type: none;
  }
  
  .denote {
      color: grey;
  }